---
import Prose from "../components/Prose.astro";
import Layout from "../layouts/Layout.astro";
// import { getEntry } from 'astro:content';

// const entry = await getEntry('collection', 'entry');
// const { Content } = await entry.render();
---
<Layout title="Weather widget">
  <!-- <Prose> -->
    <!-- <Content /> -->
		<h1 class="text-purple-400">Weather widget</h1>
  <!-- </Prose> -->
</Layout>